<div class="well removewidth normalwidth" data-ng-controller="EmployeeCtrl">
    <div class="panel-body">
        <form role="form">
            <center><h1>Personal Details</h1></center> 
            <div class="form-group">
                <div class="form-group" style="width: 150px; margin: 0 auto;">
                    <img src="/resources/img/placeholder.png" width="150" class="img-thumbnail">
                </div><br>
                <p><b>First Name :</b></p>       
                <p><b>Last Name :</b></p>   
                <p><b>Tags :</b></p>
                <p><b>Competency :</b></p>                
                <p><b>Start Date :</b></p>
                <p><b>Employee Level :</b></p>
                <p><b>Contract Type :</b></p>            
                <button type="button" class="btn btn-primary btn-color " style="float:right" ng-click="switchToEditEmployee()">Edit</button>            
            </div>
        </form>
    </div>
</div>

